@font-face {
  font-family: matiz;
  src: url("/assets/fonts/Matiz.ttf");
}

@font-face {
  font-family: SF-Pro;
  src: url("/assets/fonts/SF-Pro.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: hsl(221, 79%, 68%);
}

body {
  font-family: SF-Pro, sans-serif !important;
  background: #f3f3f3;
  text-align: center !important;
  overflow: hidden !important;
  max-width: 100vw !important;
}

.scoreArea {
  font-family: matiz, sans-serif;
  margin-top: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
}

.questionNumDiv {
  margin-bottom: 10vh;
  margin-top: 10px;
  font-family: matiz, sans-serif;
}

.questionDiv {
  width: 80vw;
  margin: auto;
  margin-bottom: 5vh;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.option {
  margin: 10px;
  background: #fff;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10000px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}

.correctAnswerNotice {
  margin-top: 2rem;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 700;
  position: absolute;
  width: 80vw;
  margin: auto;
  inset: auto -100% 20vh auto;
  display: none;
}

.correctAnswerNotice.active {
  right: 0;
  left: 0;
  display: block;
  transition: 0.3s;
}

.incorrect {
  background: #ff3838;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
}

.correct {
  background: lightgreen;
  box-shadow: 0px 4px 4px rgba(0, 255, 0, 0.25);
}

.tryAgain {
  padding: 1.5rem 2rem;
  font-size: 1rem;
  border-radius: 10000px;
  border: none;
  background: hsl(0, 0%, 10%);
  color: white;
  position: absolute;
  inset: auto -100% 2rem auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: none
}

.tryAgain.active {
  right: 2rem;
  display: block;
  transition: 0.3s;
}
